.cart__title, .cart, .products, .header, body {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  color: #999;
  font-family: Lexend, sans-serif;
  margin: 0;
  padding: 0;
}

.menulateralizquierdo {
  width: 120px;
  height: 240px;
  position: fixed;
  top: 140px;
  left: -400px;
  background-color: #4e4c4c;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.menulateralizquierdo #x-circle {
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 90px;
}
.menulateralizquierdo #x-circle:hover {
  fill: red;
}
.menulateralizquierdo p {
  text-align: center;
  color: #fff;
  margin: 3px 0;
  padding: 9px 0;
  cursor: pointer;
}
.menulateralizquierdo p:hover {
  background-color: white;
  color: black;
}

.show {
  display: block;
  transform: translateX(400px);
}

.header {
  width: 100%;
  padding: 20px 50px;
  background-color: #4e4c4c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header__icon {
  width: 30px;
  cursor: pointer;
  display: inline-block;
}
.header__logo {
  width: 100px;
}
.header__img {
  width: 100%;
}
.header #iconoCarrito .numItems {
  color: #fff;
  background-color: red;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: clamp(0.5rem, 0.8vw, 1rem);
  font-weight: 600;
  position: absolute;
  top: 39px;
  right: 45px;
}

.banner {
  position: relative;
  top: 130px;
  width: 100%;
  height: 120px;
  padding: 60px 0;
  text-align: center;
  background-image: url(/img/z.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: black;
}
.banner__title {
  width: 100%;
  font-weight: 600;
  font-size: 30px;
}
.banner__subtitle {
  width: 350px;
  margin: 0 auto;
  font-size: 25px;
  opacity: 0.7;
}

.products {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  top: 150px;
}
.products__article {
  cursor: pointer;
  text-align: center;
}
.products__img {
  width: 200px;
  margin-bottom: 15px;
}
.products__title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.products__price {
  font-weight: 300;
  font-size: 15px;
}
.products .btn-agregarC {
  margin-bottom: 18px;
  width: 9rem;
  height: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}
.products .btn-agregarC:hover {
  background-color: #fff;
  border: 2px solid #0086DF;
  color: black;
  box-shadow: 3px 3px 6px gray;
}

.cart {
  width: 400px;
  background-color: white;
  height: 100%;
  position: fixed;
  right: -1600px;
  top: 130px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out;
}
.cart #closemenu {
  position: relative;
  top: 12px;
  left: 360px;
  cursor: pointer;
}
.cart #closemenu:hover {
  fill: red;
}
.cart__title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.cart__container {
  background-color: white;
  width: 95%;
  height: 40%;
  position: relative;
  top: 0;
  margin: 0 auto;
  overflow-y: scroll;
}
.cart__img {
  width: 60px;
}
.cart__container p:nth-child(3) {
  font-weight: 500;
}
.cart__icon {
  width: 25px;
  cursor: pointer;
}
.cart__icon--delete {
  width: 100%;
}
.cart .total {
  width: 95%;
  height: 50px;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  color: black;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: 500;
}
.cart .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .btn-container .btnpago {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .btn-container .btnpago:hover {
  background-color: #0086DF;
  box-shadow: 3px 3px 6px gray;
}

.visible {
  display: block;
  transform: translateX(-1600px);
}

.productReview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}
.productReview img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.productReview p {
  font-size: 15px;
  font-weight: 500;
}
.productReview h3 {
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 820px) {
  .header {
    padding: 15px;
    width: 100vw;
  }
  .header__img {
    width: 40px;
  }
  .header__icon {
    width: 40px;
  }
  .header__icon .numItems {
    top: 33px;
    left: 39px;
  }
  .menulateralizquierdo {
    top: 130px;
  }
  .menulateralizquierdo h2 {
    padding-bottom: 0;
  }
  .menulateralizquierdo .productContainer {
    height: 35%;
  }
  .menulateralizquierdo .total {
    margin-bottom: 0;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .products__img {
    width: 150px;
  }
  .cart {
    width: 400px;
    top: 80px;
  }
}
@media (max-width: 480px) {
  .header {
    width: 100vw;
  }
  .header__img {
    width: 30px;
    height: 30px;
  }
  .header__icon {
    width: 30px;
    height: 30px;
  }
  .header__icon .numItems {
    top: 36px;
    left: 33px;
  }
  .menulateralizquierdo {
    width: 200px;
    top: 130px;
  }
  .menulateralizquierdo h2 {
    font-size: 15px;
  }
  .menulateralizquierdo #closemenu {
    top: 10px;
    left: 170px;
  }
  .menulateralizquierdo .productContainer .productReview {
    padding: 0;
  }
  .menulateralizquierdo .productContainer .productReview img {
    width: 20px;
    height: 20px;
  }
  .menulateralizquierdo .productContainer .productReview p {
    font-size: 9px;
    color: black;
  }
  .menulateralizquierdo .productContainer .productReview h3 {
    font-size: 10px;
    color: black;
  }
  .menulateralizquierdo .total {
    margin-bottom: 0;
  }
  .menulateralizquierdo .btn-container .btnpago {
    width: 120px;
    height: 40px;
  }
  .banner__title {
    font-size: 24px;
    color: black;
  }
  .banner__subttitle {
    font-size: 20px;
    color: black;
  }
  .products {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .products__img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .cart {
    width: 100%;
    box-shadow: none;
  }
  .cart__title {
    padding: 15px;
  }
  .cart__container {
    flex-direction: columns;
    align-items: center;
  }
  .cart__img {
    width: 100px;
  }
  .cart p {
    margin: 0;
  }
  .cart div p:nth-child(3), .cart div i {
    align-self: center;
  }
}/*# sourceMappingURL=style.css.map */