$header-color: #4e4c4c;
$letter-color: #999;
$main-font: Lexend, sans-serif;

@mixin flex(){
  display: flex;
  justify-content: space-between;
}

@mixin products-title(){
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
}

%box-sizing{
  box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: $letter-color;
    font-family: $main-font;
    margin: 0;
    padding: 0;
    @extend %box-sizing;
  }
  
  .menulateralizquierdo{
    #x-circle{
      cursor: pointer;
      position: relative;
      top: 3px;
      left: 90px;
      &:hover{
        fill: red;
      }
    }
    
    width: 120px;
    height: 240px;
    position: fixed;
    top: 100px;
    left: -400px;
    background-color: $header-color;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index:1;
    

    p{
        text-align: center;
        color: #fff;
        margin: 3px 0;
        padding: 9px 0;
        cursor: pointer;
        &:hover{
          background-color: white;
          color: black;

        }
      }
    
    
  }

  .show{
      display: block;
      transform: translateX(400px);
    }

  .header {
    width: 100%;
    padding: 20px 50px;
    background-color: $header-color;
    @include flex();
    align-items: center;
    @extend %box-sizing;
    position: fixed;
    top: 0;
    z-index: 1;

    &__icon{
        width: 30px;
      cursor: pointer;
      display: inline-block;
      


      }

      &__logo{
        width: 100px;
      }

      &__img{
        width: 100%;
        
      }
      
      #iconoCarrito{
        .numItems{
        color: #fff;
        background-color: red;
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 50%;
        font-size: clamp(0.5rem, 0.8vw, 1rem);
        font-weight: 600;
        position: absolute;
        top: 39px;
        right: 42px;;
      }
      }
      

  }

  .banner{
    position: relative;
    top: 100px;
    width: 100%;
    height: 120px;
    padding: 60px 0;
    text-align: center;
    background-image: url(/img/z.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: black;
    

    &__title{
        width: 100%;
        font-weight: 600;
        font-size: 30px;
    }

    &__subtitle{
        width: 350px;
        margin: 0 auto;
        font-size: 25px;
        opacity: 0.7;
    }
  }

  .products{
    width: 80%;
  margin: 0 auto;
  padding: 20px;
  @extend %box-sizing;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  top: 150px;
    
  &__article{
    cursor: pointer;
    text-align: center;
    }

    &__img{
        width: 200px;
  margin-bottom: 15px;
    }

    &__title{
        @include products-title();
    }

    &__price{
        font-weight: 300;
        font-size: 15px;
    }
   
    .btn-agregarC{
      margin-bottom: 18px;
      width: 9rem;
      height: 2rem;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 1rem;
      
      &:hover{
        background-color: #fff;
        border: 2px solid #0086DF;
        color: black;
        box-shadow: 3px 3px 6px gray;
      }
    }
  }

  .cart{
    #closemenu{
      position: relative;
      top: 12px;
      left: 360px;
      cursor: pointer;
      &:hover{
        fill: red;
      }
    }
    width: 400px;
    background-color: white;
    @extend %box-sizing;
    height: 100%;
    position: fixed;
    right: -1600px;
    top: 130px;
    box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;

    &__title{
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        
        @extend %box-sizing;
            }

    &__container{
               
      background-color: white;
      width: 95%;
      height: 40%;
      position: relative;
      top: 0;
      margin: 0 auto;
      overflow-y: scroll;
    
    }

    &__img{
                width: 60px;
    }
        
    &__container p:nth-child(3){
                font-weight: 500;
    }
        
    &__icon{
                width: 25px;
          cursor: pointer;
    }
        
    &__icon--delete{
                width: 100%;
    }

  .total{
      width: 95%;
      height: 50px;
      position: relative;
      bottom: 0;
      margin: 0 auto;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;
      
  
      color: black;
      font-size: clamp(1rem, 1.2vw, 1.5rem);
      font-weight: 500;
    }
  
  .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      .btnpago{
    
      width: 200px;
      height: 40px;
      background-color: black;
      color: white;
      border-radius: 20px;
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      

      &:hover{
        background-color: #0086DF;
        box-shadow: 3px 3px 6px gray;
      }
    }
    }  
}

.visible{
      display:block;
      transform: translateX(-1600px);
    }

  .productReview{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 18px;
    img{
      width: 30px;
      height: 30px;
      cursor: pointer;
    } 
    p{
      font-size: 15px;
      font-weight: 500;
    }
    h3{
      font-size: 15px;
      font-weight: 500;
    }
  }

  @media (max-width: 820px) {
    .header {
      padding: 15px;
      width: 100vw;

      &__img{
        width: 40px;
      }

      &__icon{
        width: 40px;
        
      }
      #iconoCarrito{
        .numItems{
          top: 21px;
          right: 15px;
        }
      }

    }

    .menulateralizquierdo{
      z-index: 1;
      top: 100px;
    }

    .banner{
      top: 100px;
    }
  
    .products {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      &__img{
        width: 150px;
      }
    }
  
    .cart {
      #iconoCarrito{
        .numItems{
          right: 0;
        }
      }
      width: 400px;
      top: 130px;
      &__container{
        height: 39%;
      }
      .total{
        margin-bottom: 0;
      }
    }
  }
  
  @media (max-width: 480px) {
    .header{
      width: 100vw;
      &__img{
        width: 30px;
        height: 30px;
      }
      &__icon{
        width: 30px;
        height: 30px;
        
      }
      #iconoCarrito{
        .numItems{
          right: 12px;
        }
      }
    }

    .menulateralizquierdo{
      width: 120px;
      top: 100px;
      z-index: 1;
    }


    .banner {
      top: 95px;
      &__title {
        font-size: 24px;
        color: black;
      }
      &__subttitle {
        font-size: 20px;
        color: black;
      }
    }
  
  
    .products {
      grid-template-columns: 1fr;
      padding: 10px;
      &__img {
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
      }
    }
  
  
    .cart {
      width: 85%;
      top: 130px;
      box-shadow: none;
      #closemenu{
        left: 85%;
      }
      &__container{
        height: 33%;
        .productReview{
          padding: 0;
          p{
            font-size: 12px;
          }

        }
      }
    }
  
   
  }

  
  
  

  